<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
    PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

	<settings>
		<setting name="cacheEnabled" value="true" />
		<setting name="lazyLoadingEnabled" value="false" />
		<setting name="multipleResultSetsEnabled" value="true" />
		<setting name="useColumnLabel" value="true" />
		<setting name="useGeneratedKeys" value="false" />
		<setting name="defaultExecutorType" value="SIMPLE" />
		<setting name="defaultStatementTimeout" value="25000" />
	</settings>

	<typeAliases>	
		<typeAlias type="com.jing.erp.bean.User" alias="user"/>
		<typeAlias type="com.jing.erp.bean.Book" alias="book"/>
		<typeAlias type="com.jing.erp.bean.BookType" alias="bookType"/>
		<typeAlias type="com.jing.erp.bean.UserBook" alias="userBook"/>
	</typeAliases>

</configuration>
